body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notes-container {
  position: inherit;
  margin: 20px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.archived.unactive {
  display: block;
}
.archived.unactive {
  display: none;
}
.active,
.archived,
.summary {
  padding: 5px;
}
.active_header,
.archived_header,
.summary_header {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: grey;
  padding: 5px;
}
.header-btn {
  width: 5%;
  display: flex;
  justify-content: space-between;
}
.active_header span,
.archived_header span {
  width: 15%;
  text-align: center;
}
.summary_header span {
  width: 30%;
  text-align: center;
}
.active_header::before,
.archived_header::before,
.summary_header::before {
 content: '';
 width: 5%;
}
.archived-list_item input,
.archived-list_item span,
.active-list_item input,
.active-list_item span {
  width: 15%;
  text-align: center;
}
.active-list_item__btn-block {
  width: 10%;
  max-width: 60px;
  min-width: 56px;
  display: flex;
}
.active-list_item .active-list_item__btn-block span.fas.fa-edit {
  width: 33%;
  text-align: center;
}
.archived-list_item__btn-block {
  width: 10%;
  max-width: 40px;
  min-width: 36px;
  display: flex;
}
.archived-list_item .archived-list_item__btn-block span.fas.fa-upload {
  width: 50%;
  text-align: center;
}
.archived-list_item .archived-list_item__btn-block span {
  width: 50%;
  text-align: center;
}
.active-list_item .active-list_item__btn-block span {
  width: 33%;
  text-align: center;
}
.archived-list_item span:first-child,
.active-list_item span:first-child,
.summary-list_item span:first-child {
  width: 5%;
  text-align: center;
}
.summary-list_item span {
  width: 30%;
  text-align: center;
}
.active-list_item input,
.archived-list_item input {
  border: none;
  outline: none;
}
.active-list_item input:hover,
.archived-list_item input:hover {
  cursor: inherit;
}
.active-list_item input:focus,
.archived-list_item input:focus {
  outline: none;
}
.active-list_item,
.archived-list_item,
.summary-list_item {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.note-form.active {
  display: block;
}
.note-form.unActive {
  display: none;
}
input.valid {
  border: 1px solid black;
  color: black;
}
input.invalid {
  border: 1px solid red;
  color: red;
}
.input_invalid-message {
  color: red;
}
.input_invalid-message.unShow {
  display: none;
}
.input_invalid-message.show {
  display: inline;
}
.active-btn {
  display: inline;
}
.unactive-btn {
  display: none;
}

.note-form.active {
  position: absolute;
  top: 0;
  left: 10%;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gainsboro;
  align-content: center;
  padding: 100px;
}

.note-form.active input{
  box-sizing: border-box;
  width: 100%;
}

